#header-main
  height $headerHeight

  .container
    display flex
    justify-content space-between

  .site-branding
    display flex
    justify-content center

  .site-logo
    img
      height $headerHeight
      width auto
      margin-right $pushMd

  .site-title-wrap
    display flex
    flex-direction column
    justify-content space-around

  .site-title
    font-size 1.25em
    margin 0

  .site-description
    max-width 250px

    @media screen and (max-width: 800px)
      display none

  .menu-main-container
    display flex
    align-items center

    ul
      display flex
      list-style none
    li
      margin 0 $pushMd

    // Responsive
    @media screen and (max-width: 800px)
      display block
      position fixed
      width 300px
      padding $padMd
      padding-top 60px
      top 0
      right 0
      height 100%
      background $colorBg
      box-shadow 1px 1px 3px rgba(0,0,0,0.25)

      ul
        display block
        padding-left 0

      li
        padding $pad
        border-bottom 1px solid rgba(0,0,0,0.15)