#header-main
  height $headerHeight

  .container
    display flex
    justify-content space-between

  .site-branding
    display flex
    justify-content center

  .site-logo
    img
      height $headerHeight
      width auto
      margin-right $pushMd

  .site-title-wrap
    display flex
    flex-direction column
    justify-content space-around

  .site-title
    font-size 1.25em
    margin 0

  .site-description
    max-width 250px

    @media screen and (max-width: 800px)
      display none