$colorText = #263238
$colorLink = #2196F3
$colorLinkFocus = #f44336
$colorBg = #fff

$push = 10px
$pushMd = 20px
$pad = 10px
$padMd = 20px

$headerHeight = 80px
$mobileMenuWidth = 300px

$widthContainer = 1200px