/*
Theme Name: Theme of Oz
Theme URI: https://github.com/ozramos/theme-of-oz
Description: A minimalist WordPress theme designed for the Gutenberg Editor 🎨
Author: Oz Ramos <heyozramos@gmail.com>
Author URI: https://ozramos.com
*/
